body {
  margin: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT';
  display: grid;
  justify-content: center;
}

.title {
  color: salmon;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: lightskyblue;
  width: 40em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 25px;
  border: unset;
}

.entry-textbox:focus {
  outline: none;
}

textarea::placeholder {
  color: #ffffff;
}

#entryForm .button {
  border: unset;
  border-radius: 25px;
  padding: 5px 16px;
  margin-left: 76%;
}
