body {
  margin: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT';
  display: grid;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
}

.title {
  color: salmon;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: lightskyblue;
  width: 40em;
  height: 10em;
  padding: 2.5em;
  margin-bottom: 0.5em;
  border-radius: 25px;
  border: unset;
}

.entry-textbox:focus {
  outline: none;
}

textarea::placeholder {
  color: #444444;
}

#entryForm .button {
  border: unset;
  border-radius: 25px;
  padding: 5px 16px;
  margin-left: 76%;
}

.button:focus {
  outline: none;
}

#entries {
  background: #c3d6d6;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  max-width: 33em;
  border: unset;
  border-radius: 25px;
  margin-top: 1em;
}

/* styling for the display entires nav and display entry buttons */
.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0.2em;
}

.display-entry-button:hover {
  cursor: pointer;
}
